<h2>Your Shopping Cart</h2>
<div class="item-container">
  <div *ngFor="let cartItem of cartItems" class="cart-item">
    <ng-container *ngIf="(getItemById(cartItem.itemId) | async) as item">
      <div class="item-details">
        <h3>{{ item.name }}</h3>
        <p>Price: BD {{ item.price.toFixed(2) }}</p>
        
        <!-- Quantity Input -->
        <div class="cart-actions">
          <input
            type="number"
            [value]="cartItem.quantity"
            #quantityInput
            (change)="updateQuantity(cartItem, quantityInput.value)"
            min="1"
            class="quantity-input"
          />
          <!-- Remove Button -->
          <button (click)="removeItemFromCart(cartItem.id)" class="remove-button">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<hr class="divider" />
<div class="total">
  <strong>Total: BD {{ total.toFixed(3) }}</strong>
</div>