<div class="main-container">
  <!-- Category Tabs -->
  <app-category-tabs [categories]="categories"></app-category-tabs>

  <!-- Search Section -->
  <app-item-search
    (filterCriteria)="applyFilter($event)"
    (clearFiltersEvent)="clearFilters()"
  ></app-item-search>

  <!-- Item Actions Section -->
  <div class="item-actions">
    <div class="cart-icon-container" (click)="goToCart()">
      <i class="fas fa-shopping-cart cart-icon"></i>
      <span class="cart-count-badge">{{ cartCount }}</span>
    </div>
    <button (click)="navigateToAddForm()" class="add-button">Add</button>
  </div>
  

  <!-- Display Items -->
  <app-item-list
  [items]="displayedItems"
  [cartItems]="cartItems"
  (editItem)="onEditItem($event)"
  (deleteItem)="onDeleteItem($event)"
  (toggleCartItem)="toggleCartItem($event)"
></app-item-list>

</div>